<div [class]="'h-screen box-border p-6'">
	<div class ="main relative flex flex-col box-border h-full rounded-2xl p-4 justify-center items-center bg-cover bg-center bg-black/40 bg-blend-multiply"
		[class.gap-20]="!showResult()" [style.backgroundImage]="wallpaperUrl()">
		
		<!-- Date and Time Header -->
		@if (!showResult()) {
		<div class="glass absolute bottom-4 left-4 text-white font-variable [--wght:300] [--wdth:110] [--slnt:-2] px-4 py-2 rounded-xl drop-shadow-md">
			{{ currentDate() }}
		</div>
		<div class="glass absolute bottom-4 right-4 text-white font-variable [--wght:300] [--wdth:110] [--slnt:-2] px-4 py-2 rounded-xl drop-shadow-md">
			{{ currentTime() }}
		</div>
		}

		<div [class]="'flex flex-col gap-20 w-full px-12'">
			<h1 [class]="'text-6xl font-variable [--wdth:130] [--wght:900] [--slnt:-2] text-center text-white'">Checador de precios</h1>
			<form [formGroup]="myForm" (ngSubmit)="searchByBarcode()">
				<input #barcodeInput type="text" formControlName="barcode" [class]="'glass w-full text-white font-mono p-4 text-3xl text-center rounded-2xl font-semibold outline-none placeholder:text-white/70'"
				[class.opacity-0]="showResult()"
					[class.h-0]="showResult()" placeholder="Acerca el código de barras del producto al lector"
					(submit)="searchByBarcode()" autofocus />
			</form>
		</div>

		@if (showResult()) {
		<div [class]="'glass flex flex-col text-center text-white text-pretty text-5xl w-fit px-12 py-8 gap-6'">
			@if (product()) {
			<h2 class="font-variable [--wdth:115] [--wght:200]">Nombre del producto:</h2>
			<p [class]="'text-6xl font-variable [--wght:800] [--rond:30]'">{{product()?.descripcion}}</p>
			<h2 class="font-variable [--wdth:115] [--wght:200]">Precio:</h2>
			<p [class]="'text-7xl font-variable [--wght:800] [--rond:30]' ">{{'$' + (product()?.pventa| number:'1.2-2')}}</p>
			} @else {
			<h2 [class]="'text-6xl font-variable [--wdth:100] [--wght:700] text-center'">Producto no encontrado.</h2>
			}
		</div>
		}

	</div>

</div>